.subject-link {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 10px 5px;
}
.subject-link:hover {
    font-size: 18px;
    color: var(--PURPLE_ACCENT);
    cursor: pointer;
}
.subject-year {
    font-size: 12px;
    font-weight: 100;
}
.contact-teacher {
    margin-top: 10px;
    font-size: 16px;
    text-align: right;
}
.contact-teacher a {
    color: var(--PURPLE_ACCENT);
    font-weight: 100;
    cursor: pointer;
}
